* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.board {
  width: calc(80px * 8);
  height: calc(80px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}
.black {
  background: #7a750d;
}

.white {
  background: rgb(153, 153, 153);
}
.selected {
  background-color: brown;
}
